
*{
  font-family: 'Poppins', sans-serif;
}
.event-heading{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #F2F6FB;
}
.pl{
    justify-content: center;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: 100vh; */
}
.pl-texts{
    width: 60%;
}
.pl-title{
    font-size: 50px;
    font-weight: 600;
 
    
}
.pl-desc{
    margin: 20px 0px;
}

.pl-list{
    align-items: center;
    background-color: #fdfdfd;

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .event-heading{
   font-size: 1.2em;
  }
 .pl {
     padding: 10px;
   }
 
   .pl-texts {
     width: 100%;
   }
 
   .pl-desc {
     display: none;
   }
   .pl-list{
       display: flex;
       align-items: center;
   }
 }