* {
  font-family: "Poppins", sans-serif;
}
.Title-hero {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.teamdata {
  justify-content: center;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 height: 100%;
}

.teamdata-list {
  align-items: center;
  background-color: #f2f6fb !important;
  flex-direction: row;
  display: grid;
  column-gap: 5rem;
  gap: 5em;

  grid-template-columns: repeat(5, 180px);
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  width: 100%;
}
.teamdata {
  background-color: #f2f6fb;
}
@media screen and (max-width: 480px) {
  /* .teamdata-list{
      column-gap: 5em;
  } */
  .teamdata {
    /* padding: 10px; */
    /* height: 186vh; */
    height: 100%;
    background-color: #f2f6fb;
  }
  .teamdata teams {
    background-color: #f2f6fb;
  }
  .teamdata-list {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    column-gap: 4rem;
    gap: 1em;
    padding: 10px 0px;
  }
}
.Title-hero {
  font-size: 2rem;
  color: #005f73;
}
.parent {
  background-color: #ffff;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .teamdata-list {
    column-gap: 1.2rem;
    grid-template-columns: repeat(4, 180px);
    padding: 5px;
  }

}
