* {
  font-family: "Poppins", sans-serif;
}
.Title-hero {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: red !important;
}
.teamdata {
  justify-content: center;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 height: 100%;
}

.teamdata-list {
  align-items: center;
  background-color: #f2f6fb !important;
  flex-direction: row;
  display: grid;
  column-gap: 5rem;
  gap: 5em;
  padding: 10px 0px;
  grid-template-columns: repeat(5, 140px);
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  width: 100%;
}
.teamdata {
  background-color: #f2f6fb;
}


@media screen and (max-width:320px) and (min-width: 0px){
  .Title-hero{
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .teamdata-list{
      column-gap: 5em;
  }
  .teamdata {
    
    height: 100%;
    background-color: #f2f6fb;
  }
  .teamdata teams {
    background-color: #f2f6fb;
  }
  .teamdata-list {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    column-gap: 4rem;
    gap: 1em;
    padding: 10px 0px;
  }
}

@media screen and (max-width:480px) and (min-width:320px){
  .Title-hero>h1{
    font-size: 18px;
  }
}




.parent {
  background-color: #ffff;
}

@media screen and (max-width: 768px) and (min-width: 480px){
  
    .teamdata-list {
      column-gap: 1.2rem;
      grid-template-columns: repeat(3, 140px);
      padding: 5px;
    }
    .Title-hero>h1{
      font-size: 24px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  
    .teamdata-list {
      column-gap: 1.2rem;
      grid-template-columns: repeat(4, 140px);
      padding: 5px;
    }
    .Title-hero>h1{
      font-size: 18px;
    }
}
