#root {
  overflow: hidden;
}
/* old css */
.logo img {
  width: 70px;
  height: 70px;
}

.hamburger {
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background: none;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.ham-icon {
  width: 25px;
  height: 25px;
}

.nav-area {
  /* New CSS  */

  z-index: 1;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 1em 0em;
  position: fixed;
}
.navlinks {
  gap: 2em;

  display: flex;

  align-items: center;
}

.nav-area .link {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 10px 5px;
  cursor: pointer;
}
.typewriter {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.Box {
  width: 150px;
  height: 150px;
  background-color: #1363df;
  animation: spin 1s linear infinite, move 1s forwards linear 1s;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #06283d;
  overflow: hidden;
}
@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.2);
  }
  to {
    transform: rotate(360deg) scale(1);
    border-radius: 100%;
  }
}
@keyframes move {
  100% {
    transform: scale(20);
    background-color: #06283d;
  }
}
.toggle .link {
  color: black;
}
.navlinks .link {
  position: relative;
  flex-direction: column;
  align-items: center;
}
.navlinks .link::after {
  width: 0%;
  margin: 0 auto;
  height: 3px;
  border-radius: 99px;
  transition: width 0.4s ease;
  position: absolute;
  top: 100%;
  content: "";
  left: 0;
  background-color: red;
}
.navlinks .link:hover::after {
  width: 100%;
}
.active {
  color: red;
}

@media screen and (max-width: 768px) {
  .logo img{
    width: 50px;
    height: 50px;
    margin: 0 1em;
  }
  .hamburger {
    display: block;
  }
  .navlinks {
    display: none;
  }
  .navlinks {
    position: absolute;
    top: 80px;
    left: 0;

    flex-direction: column;

    width: 100%;

    height: fit-content;
    background-color: rgba(252, 238, 242, 0.2);
  }
  .navlinks .link {
    text-align: center;
    margin: 0;
  }
  .navlinks .link {
    color: black;

    width: 100%;
    padding: 1rem 0;
  }
  .navlinks .link:hover {
    background-color: #eee;
  }
  .navlinks.expanded {
    display: flex;
  }
  .nav-area {
    justify-content: space-between;
  }
}
