.p{
 
    width: 400px;
    height: 400px;
    margin: 20px 10px;
    border: 2px solid rgb(243,242,242);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.09);  
}
.project-info{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.project-info::after{
   content: "";
   position: absolute;
   opacity: 0;
   transition: all 0.4s ease;
   transform: translateY(150px);
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.3);
}
.project-info:hover::after{
    opacity: 1;
    transform: translateY(0);
}
.p-browser{
    height: 20px;
    background-color: rgb(243,242,242);
    display: flex;
    align-items: center;
}
.p-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    margin: 0px 5px;
}
.p-img{
   
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
    transition: all 2s ease;
}

.project-info .p-title{
    z-index: 10;
    transform: translateY(150px);
    transition: all 0.4s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.project-info:hover .p-title{
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}
@media screen and (max-width: 480px) {
    .p {
      width: 40%;
      height: 20vh;
    }
  }