*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url('../../Assets/Covers.JPG');
   
    background-position: center;
    background-size: cover;
    position: relative;
 
}
.logo img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 35px;
    top: 36px;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 71px;
    padding-right: 10px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 33px;
}
.nav-area li a:hover{
    color: red;
}
.typewriter{
    position: absolute;
    top: 45vh;
    left: 500px;
    color: white;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}