* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #000;

  height: fit-content;
  
}
.info>p{
  font-size: 1.2em;
}
.container {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  width: 370px;
  height: 130px;
}
.contact-item-wrapper {

  
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-desc {
  padding-left: 22px;
}
.icon {
  padding-left: 22px;
}
.logo-bmc img {
  
  margin-bottom: 1rem;
  width: 100px;
  height: 100px;
}
.social-item-wrapper {
  height: 200px;
  
 padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-links-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.copyright-section {
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
}
.credit {
  color: #47b5ff;
}

@media screen and (max-width: 320px) and (min-width: 0px) {
  .contact-item-wrapper {
    flex-direction: column;
    padding-top: 20px;
    gap: 1rem;
    
  }
  .social-item-wrapper {
    min-height: fit-content;
 padding: 0.6rem 0rem;
  }
  .container {
    width: 270px;
  
    height: 75px;
  }
  .info>p{
    font-size: 0.85em;
  }
  .logo-bmc img {
    width: 60px;
    height: 60px;
  }
  .heading-social {
    font-size: 1.2em;
  }
  .global-class-name {
    width: 23px;
    height: 23px;
  }
  .copyright-section {
    padding-top: 0.7em;
    font-size: 0.83em;
  }

}


@media screen and (max-width: 480px) and (min-width: 320px) {
  .contact-item-wrapper {
    flex-direction: column;
    padding-top: 20px;
    gap: 1rem;
    
  }
  .social-item-wrapper {
    min-height: fit-content; 
     padding: 0.6rem 0rem
   } 
  .container {
    width: 310px;
    height: 75px;
  }
  .info>p{
    font-size: 1em;
  }
  .logo-bmc img {
    width: 60px;
    height: 60px;
  }
  .heading-social {
    font-size: 1.2em;
  }
  .global-class-name {
    width: 23px;
    height: 23px;
  } 
   .copyright-section {
    padding-top: 0.7em;
    font-size: 0.83em;
  } 
 
}
 
@media screen and (max-width: 768px) and (min-width: 480px){
  .contact-item-wrapper{
      padding-top: 1rem;
      flex-direction: column;
      gap: 1rem;
  }
  .container{
      height: 71px;
  }
  
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .contact-item-wrapper {
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }
  .container {
    width: 733px;
    height: 129px;
  }
  
}






