*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Programs-hero{
    height: 100vh;
    background-color: #1F253D;
    color: #ffff;
}
.Title-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}